// telegram base colors
$tg_accent_text_color: var(--tg-theme-accent-text-color); // #9472ee
$tg_bg_color: var(--tg-theme-bg-color); // #ffffff
$tg_bottom_bar_bg_color: var(--tg-theme-bottom-bar-bg-color); // #f2f2f2
$tg_button_color: var(--tg-theme-button-color); // #9472ee
$tg_button_text_color: var(--tg-theme-button-text-color); // #ffffff
$tg_destructive_text_color: var(--tg-theme-destructive-text-color); // #ff3b30
$tg_header_bg_color: var(--tg-theme-header-bg-color); // #f8f8f8
$tg_hint_color: var(--tg-theme-hint-color); // #8e8e93
$tg_link_color: var(--tg-theme-link-color); // #9472ee
$tg_secondary_bg_color: var(--tg-theme-secondary-bg-color); // #efeff4
$tg_section_bg_color: var(--tg-theme-section-bg-color); // #ffffff
$tg_section_header_text_color: var(
  --tg-theme-section-header-text-color
); // #6d6d72
$tg_section_separator_color: var(--tg-theme-section-separator-color); // #c8c7cc
$tg_subtitle_text_color: var(--tg-theme-subtitle-text-color); // #8e8e93
$tg_text_color: var(--tg-theme-text-color); // #000000