$tg_accent_text_color: var(--tgui--accent_text_color);
$tg_bg_color: var(--tgui--bg_color);
$tg_bottom_bar_bg_color: var(--tg-theme-bottom-bar-bg-color); // #f2f2f2
$tg_button_color: var(--tgui--button_color);
$tg_button_text_color: var(--tgui--button_text_color);
$tg_destructive_text_color: var(--tgui--destructive_text_color);
$tg_header_bg_color: var(--tgui--header_bg_color);
$tg_hint_color: var(--tgui--hint_color);
$tg_link_color: var(--tgui--link_color);
$tg_secondary_bg_color: var(--tgui--secondary_bg_color);
$tg_section_bg_color: var(--tgui--section_bg_color);
$tg_section_header_text_color: var(--tgui--section_header_text_color);
$tg_section_separator_color: var(--tg-theme-section-separator-color); // #c8c7cc
$tg_subtitle_text_color: var(--tgui--subtitle_text_color);
$tg_text_color: var(--tgui--text_color);
