// colors
// telegram variables
// $tgColorBg: var(--tg-theme-bg-color); // Цвет фона ffffff
// $tgColorSecondaryBg: var(
//   --tg-theme-secondary-bg-color
// ); // Цвет рамки приложения f0f0f0
// $tgColorText: var(--tg-theme-text-color); // Цвет главного текста 000000
// $tgColorHint: var(--tg-theme-hint-color); // Цвет побочного текста a8a8a8
// $tgColorButton: var(--tg-theme-button-color); // Цвет кнопки выйти 8191b4
// $tgColorButtonText: var(
//   --tg-theme-button-text-color
// ); // Цвет текста кнопки выйти ffffff
// $tgColorLink: var(--tg-theme-link-color); // Цвет ссылки 7282ac

//
$colorGreen: #1bce13;
$colorRed: #ce4e13;

$shadowCard: 2px 2px 10px rgba(0, 0, 0, 0.3);

$fontFamily: Roboto, "Open Sans", "Helvetica Neue", sans-serif;

// $tgColorBg: #ffffff;
// // $tgColorBg: #f0f0f0;
// $tgColorSecondaryBg: #f0f0f0;
// // $tgColorSecondaryBg: #ffffff;
// $tgColorText: #000000;
// $tgColorHint: #a8a8a8;
// $tgColorButton: #8191b4;
// $tgColorButtonText: #ffffff;
// $tgColorLink: #7282ac;

// $tgColorBg: #25222e;
$tgColorBg: #1c1a23;
// $tgColorSecondaryBg: #1c1a23;
$tgColorSecondaryBg: #25222e;
$tgColorText: #ffffff;
$tgColorHint: #868493;
$tgColorButton: #8e88d2;
$tgColorButtonText: #ffffff;
$tgColorLink: #8e88d2;
