.card_sympathy {
  width: calc(50% - 4px);
  border-radius: 20px;
  background-color: $tg_secondary_bg_color;
  // border: 2px solid transparent;
  // background:
  //   linear-gradient($tg_secondary_bg_color, $tg_secondary_bg_color) padding-box,
  //   linear-gradient(0deg, black, $tg_secondary_bg_color) border-box;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &_active {
    transform: scale(0.98);
  }
}

.img_container {
  aspect-ratio: 3 / 4;
}
