// BASE
.clue {
  position: absolute;
  width: 100%;

  & > div {
    width: 100%;
    & > div {
      border: 2px solid var(--tgui--outline);
    }
  }
}

// IOS
.clue_wrapper {
  & > div {
    & > div {
      border-radius: 34px !important; // ios
    }
  }

  bottom: 56px;
}

// ANDROID
.clue_wrapper_base {
  & > div {
    border-radius: 24px !important;
    & > div {
      border-radius: 24px !important;
    }
  }

  bottom: 102px;
}
