.card_profile {
  width: 100%;
  height: 100%;
  background-color: $tg_secondary_bg_color;
  border-radius: 15px;
  flex: 1;
  position: absolute;
  z-index: 1;
  padding: 4px;
  box-sizing: border-box;

  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
}

.card_content {
  border-radius: 13px;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

.info {
  position: absolute;
  z-index: 3;
  bottom: 0px;
  left: 0px;
  width: 100%;
  min-height: 200px;
  box-sizing: border-box;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.7) 60%,
    #000000 100%
  );

  display: flex;
  align-items: end;

  &_buttons {
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 8px;
  }
}

.swipe_right {
  animation-name: swipe-right;
}

.swipe_left {
  animation-name: swipe-left;
}

.swipe_bottom {
  animation-name: swipe-bottom;
}

@keyframes swipe-bottom {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  20% {
    transform: translateY(0);
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    transform: translateY(120vh);
    opacity: 0;
  }
}

@keyframes swipe-right {
  0% {
    transform: translate(0, 0) rotate(0deg);
    opacity: 1;
  }
  20% {
    transform: translate(0, 0) rotate(0deg);
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    transform: translate(120vw, 50px) rotate(20deg);
    opacity: 0;
  }
}

@keyframes swipe-left {
  0% {
    transform: translate(0, 0) rotate(0deg);
    opacity: 1;
  }
  20% {
    transform: translate(0, 0) rotate(0deg);
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    transform: translate(-120vw, 50px) rotate(-20deg);
    opacity: 0;
  }
}
