.card_profile {
  width: 100%;
  height: 100%;
  background-color: $tg_secondary_bg_color;
  border-radius: 15px;
  flex: 1;
  position: absolute;
  padding: 4px;
  box-sizing: border-box;

  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
}

.img {
  width: 100%;
  height: 100%;
  border-radius: 13px;
  overflow: hidden;
  object-fit: cover;
}

.info {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: calc(100% - 8px);
  border-radius: 0px 0px 13px 13px;
  min-height: 200px;
  margin: 4px;
  box-sizing: border-box;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.7) 60%,
    #000000 100%
  );

  display: flex;
  align-items: end;

  &_description {
    display: flex;
    flex-direction: column;
    padding: 12px;
    width: calc(100% - 45px - 8px * 2 - 12px * 2);
    box-sizing: border-box;
    gap: 8px;
    cursor: pointer;
  }

  &_buttons {
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 8px;
  }
}

.button {
  span:has(span) span {
    background-color: rgba(#fff, 0.2);
  }
}

.text {
  color: white;
  font-size: 16px;

  width: 100%;

  display: flex;
  flex-wrap: wrap;
  // align-items: center;
  // justify-content: center;

  &_name {
    max-width: calc(100% - 36px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &_city {
    color: rgba(255, 255, 255, 0.7);
    text-overflow: ellipsis;
    overflow: hidden;

    text-wrap: nowrap;
  }

  &_age {
    margin-right: 4px;
    margin-left: 4px;
  }
}

.description {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  max-width: 100%;

  width: 252px;
  max-height: 60px;

  line-height: 20px;

  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;

  &_open {
    max-height: 300px;

    display: block;
    -webkit-line-clamp: none;
  }
}

.swipe_right {
  animation-name: swipe-right;
}

.swipe_left {
  animation-name: swipe-left;
}

@keyframes swipe-right {
  0% {
    transform: translate(0, 0) rotate(0deg);
    opacity: 1;
  }
  20% {
    transform: translate(0, 0) rotate(0deg);
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    transform: translate(120vw, 50px) rotate(20deg);
    opacity: 0;
  }
}

@keyframes swipe-left {
  0% {
    transform: translate(0, 0) rotate(0deg);
    opacity: 1;
  }
  20% {
    transform: translate(0, 0) rotate(0deg);
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    transform: translate(-120vw, 50px) rotate(-20deg);
    opacity: 0;
  }
}
