.swipe_right {
  animation-name: swipe-right;
}

.swipe_left {
  animation-name: swipe-left;
}

.swipe_bottom {
  animation-name: swipe-bottom;
}

@keyframes swipe-bottom {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  20% {
    transform: translateY(0);
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    transform: translateY(120vh);
    opacity: 0;
  }
}

@keyframes swipe-right {
  0% {
    transform: translate(0, 0) rotate(0deg);
    opacity: 1;
  }
  20% {
    transform: translate(0, 0) rotate(0deg);
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    transform: translate(120vw, 50px) rotate(20deg);
    opacity: 0;
  }
}

@keyframes swipe-left {
  0% {
    transform: translate(0, 0) rotate(0deg);
    opacity: 1;
  }
  20% {
    transform: translate(0, 0) rotate(0deg);
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    transform: translate(-120vw, 50px) rotate(-20deg);
    opacity: 0;
  }
}
