.range_age {
  display: flex;
  flex-direction: column;
  //   gap: 16px;

  &_header {
    color: $tg_subtitle_text_color;
    padding: 14px 16px;
  }

  &_wrapper {
    display: flex;
    // align-items: center;
    justify-content: center;

    gap: 8px;
    align-content: stretch;
  }
}
