// BASE
.icon_container {
  padding: 6px !important;
  border-radius: 8px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;

  svg {
    fill: white;
    stroke: white;
    width: 18px;
    height: 18px;
  }
}

// ANDROID
.section_base {
  & > div {
    border-radius: 16px !important;
  }
  hr {
    margin-left: 70px !important;
    border-color: $tg_hint_color !important;
  }
}

.cell_base {
  padding-left: 18px !important;
  gap: 16px !important;
  div:nth-child(3) {
    padding: 6px !important;
  }
}

// IOS
.section {
  hr {
    margin-right: 16px !important;
    margin-left: 60px !important;
    border-color: $tg_hint_color !important;
  }
}

.section {
  & > div {
    & > div {
      border-radius: 26px !important;
    }
  }
}

.cell {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  padding-right: 8px !important;
}
