.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  box-sizing: border-box;
  padding: 16px;
}

.no_supported_buttons {
  padding-top: calc(52px);
}
