.input_textarea {
  div {
    padding: 0px 4px;
    background-color: transparent;

    label {
      background-color: $tg_secondary_bg_color;
    }

    h6 {
      top: -10px !important;
      left: 16px !important;
      background-color: $tg_secondary_bg_color !important;
    }
  }
}
