.tab_wrapper {
  position: relative;
}

.tab_badge {
  position: absolute;
  top: 0px;
  right: -6px;
}

.tab {
  path {
    fill: $tg_hint_color;
  }
}

.is_tab_active {
  path {
    fill: $tg_accent_text_color;
  }
}
