.info_container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 16px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, transparent 0, #000 100%);
  padding-top: 48px;
  width: 100%;
  box-sizing: border-box;
}

.info {
  padding: 12px 0px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;

  &_name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #fff;
    line-height: 16px !important;
  }
  &_age {
    flex-shrink: 0;
    color: #fff;
    line-height: 16px !important;
  }
  &_city {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: rgba(255, 255, 255, 0.75);
    line-height: 16px !important;
  }
}

.row {
  display: flex;
  width: 100%;
}
