// BASE
.footer_errors {
  span,
  h6 {
    color: $tg_destructive_text_color;
  }
  white-space: pre-line;
}

// IOS
.section {
  hr {
    border-color: $tg_hint_color;
    margin: 0px 16px;
  }
  & > div {
    & > div {
      border-radius: 34px !important;
    }
  }
}

// ANDROID
.section_base {
  & > div {
    border-radius: 16px !important;
    & > header {
      padding: 14px 24px 4px 16px !important;
    }
    & > div {
      & > div {
        border-radius: 16px !important;
        background: transparent;
        padding: 4px 2px !important;
      }
    }
  }
}
